
.grid-container {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 200px;

  }

.grid-item {
  width: 10vw;
  height: 10vh;
  background-color: aliceblue;
}